{% if is_paginated %}
<div class="card-footer px-0 border-0 d-flex flex-column flex-lg-row allign-items-center justify-content-between mt-3">
    <nav aria-label="Topics pagination" class="mb-4">
        <ul class="pagination">
            {% if page_obj.number > 1 %}
            <li class="page-item">
                <a class="page-link" href="?page=1">First</a>
            </li>
            {% else %}
            <li class="page-item disabled">
                <span class="page-link">First</span>
            </li>
            {% endif %} {%if page_obj.has_previous %}
            <li class="page-item">
                <a href="?page={{ page_obj.previous_page_number }}" class="pagelink">Prev</a>
            </li>
            {% else %}
            <li class="page-item disabled">
                <span class="page-link">Prev</span>
            </li>
            {% endif %} {% for page_num in paginator.page_range %} {% if page_obj.number == page_num %}

            <li class="page-item active">
                <span class="page-link">
                    {{page_num}}
                    <span class="sr-only">(current)</span>
                </span>
            </li>

            {% elif page_num > page_obj.number|add:'-3' and page_num < page_obj.number|add:'3' %} <li class="page-item">
                <a href="?page={{ page_num }}" class="page-link">{{page_num}}</a>
                </li>

                {% endif %} {% endfor %} {% if page_obj.has_next %}
                <li class="page-item">
                    <a href="?page={{page_obj.next_page_number}}" class="page-link">Next</a>
                </li>

                {% else %}
                <li class="page-item disabled">
                    <span class="page-link">Next</span>
                </li>

                {% endif %} {% if page_obj.number != paginator.num_pages %}
                <li class="page-item">
                    <a href="?page={{ paginator.num_pages }}" class="page-link">Last</a>
                </li>

                {% else %}
                <li class="page-item"><span class="page-link">Last</span></li>
                {% endif %}


        </ul>
    </nav>
    <div class="fw-normal small mt-4 mt-lg-0">Showing<b>{{object_list.count}}</b> out of <b>{{paginator.count}}</b>
        entries</div>
</div>
{% endif %}