{% extends 'base.html' %} {% load static %} {% block content %}
<div class="content">
	<div class="container-fluid">
		<h4 class="page-title">Home</h4>
		<div class="row">
			<div class="col-md-12">
				<div class="card">
					<div class="card-header">
						<div class="card-title">List of Organizations</div>
						<div class="card-category">Page Subtitle</div>
					</div>
					<br />
						   <div class="col-md-12 row">
							<div class="col-md-6">
								<form class="navbar-left navbar-form nav-search mr-md-3" action="{% url 'organization-list' %}">
									<div class="input-group">
										<input type="text" placeholder="Search ..." class="form-control" name="q" />
										<div class="input-group-append">
											<span class="input-group-text">
												<i class="la la-search search-icon"></i>
											</span>
										</div>
									</div>
								</form>
							</div>
						   </div>
						   <div class="col-md-6">
							<div class="pull-right">
								<a href="{% url 'organization-add' %}" class="btn btn-success btn-rounded">Add Organization</a>
							</div>
						   </div>
					<div class="card-body">
						<table class="table table-striped mt-3">
							<thead>
								<tr>
									<th scope="col">Name</th>
									<th scope="col">College</th>
									<th scope="col">Description</th>
									<th scope="col">Action</th>
								</tr>
							</thead>
							<tbody>
								{% for object in object_list %}
								<tr>
									<td>{{ object.name}}</td>
									<td>{{ object.college }}</td>
									<td>{{ object.description }}</td>
									<td>
										<a href="organization_list/{{ object.id }}">Edit</a>
										<a href="organization_list/{{ object.id }}/delete" class="text-danger">Delete</a>
									</td>
								</tr>
								{% endfor %}
								<tr>
									<td colspan="4" style="text-align: center">
										<p class="text-sm font-weight-bold mb-0">No Records Found</p>
									</td>
								</tr>
								
							</tbody>
						</table>
						{% include 'includes/pagination.html' %}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}