{% extends 'base.html' %} {% load static %} {% block content %}
<div class="content">
    <div class="container-fluid">
        <h4 class="page-title">Home</h4>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <div class="card-title">Add New Student</div>
                        <div class="card-category">Page Subtitle</div>
                    </div>
                    <div class="col-md-6">
                        <div class="card-body">
                            <form class="" action="" method="post" novalidate>
                                {% csrf_token %} {% include 'includes/form.html' %}
                                <div class="form-group">
                                    <div class="col-md-12 col-sm-3">
                                        <button type="submit" class="btn btn-primary btn-rounded">Submit</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}